@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*:root {
  --cad-fundo-titulo:  #191147;
  --cad-cabecalho:     #817f95;
  --cad-botao:         #817f95;
  --cad-botao-move:    #817f95;

  --fonte_1: 'Quicksand', sans-serif;
  --fonte_2: 'Montserrat', Tahoma;

  --login-fundo: #DFD8D3;
  --login-box: rgb(245, 245, 250, 0.8);
  --login-faixa: #665992;
  --login-icone: #AAA39F;
  --login-sair: #fa0202;


}

html, body, div, span { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
object, iframe, h1, h2, h3 { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
h4, h5, h6, p { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
pre, a, abbr, address { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
cite, code, del, dfn, em { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
ins, kbd, q, img { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
samp, small, big, strong { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
sub, sup, tt, var, b { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
table, tr, i { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
td, th, tbody, thead, tfooter { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
dl, dt, dd, ol, ul { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
form, label, legend, li, fieldset { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;vertical-align: baseline; border-spacing: 0; }
caption, article, aside, canvas, details { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
figcaption, footer, header, embed, figure { margin: 0; padding: 0; border: 0; font-size: 100%;  vertical-align: baseline; border-spacing: 0; }
nav, output, ruby { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
section, summary, time, mark { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; border-spacing: 0; }
* { -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-transform-style: flat; }
video, article, aside, details, figcaption { display: block; }
figure, footer, header, menu, nav, section { display: block; }
html { /*overflow: hidden;*/ font-family: arial; min-height: 100vh; height: calc(100% - 3px); position: relative; -webkit-touch-callout: none; width: 100%; display: inline-block; background-color: #FFF; }
body { -webkit-text-size-adjust: none; /*margin: -2px 0;*/ position: relative; overflow: auto; line-height: 1; height: 100%; }
html, body, div, span { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0;
}

object, iframe, h1, h2, h3 { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

h4, h5, h6, p { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline;
  border-spacing: 0; 
}

pre, a, abbr, address { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

cite, code, del, dfn, em { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

ins, kbd, q, img { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

samp, small, big, strong { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

sub, sup, tt, var, b { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

table, tr, i { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

td, th, tbody, thead, tfooter { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

dl, dt, dd, ol, ul { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

form, label, legend, li, fieldset { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: inherit;
  vertical-align: baseline; 
  border-spacing: 0; 
}

caption, article, aside, canvas, details { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

figcaption, footer, header, embed, figure { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%;  
  vertical-align: baseline; 
  border-spacing: 0; 
}

nav, output, ruby { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

section, summary, time, mark { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  border-spacing: 0; 
}

#busca {
   font-style: italic;
}


input#busca {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  padding: 0px 2rem 0rem 2rem;
  box-shadow: 0 0 3px 0 #777 inset;
  font-size: 15px;
  float: left;
  margin: 0.2rem 0.5rem 0rem;
}


  .links{
    text-decoration: none !important;
    cursor: pointer;
    color:inherit !important;
  }

  #sociais {
    width: 24px;
    height: 24px;
    margin: 0px 4px 0px 4px;
    cursor: pointer;
  }
  
  .fundo-busca {
    font-size: 34px;
    height: 12rem;
  }
   
  ul.flex-container, .main{
    margin-top: 3rem;
    padding-top: 1px;
  }

  ul.flex-container {
    display: flex;
    background-color: var(--branco-primario);
    padding: 4rem 6% 0%;
    flex-wrap: wrap;
    width: auto;
  }
  
  .main{
    min-height: 800px;
    background-color: var(--branco-primario);
  }

  span.flex-resposta, span.flex-perguntas {
    z-index: 2;
    cursor: pointer;
    text-overflow: ellipsis;
    transition: all 0.2s linear 0s;
    overflow: hidden;
    height: 3.5rem;
    line-height: 2.6rem;
    white-space: nowrap;
    display: block;
    text-indent: 1.4%;
    color: #75B6E7;
    font-size: 16px;
  }
  
  span.flex-resposta{
    font-size: 0.8rem;
    margin-bottom: 1px;
    padding-left: 10px;
    background-color: #1E1655;
    width: 1260px;
    text-align: left;
  }
  
  
  body{
    font-family: var(--fonte-secundaria);
    background-color: var(--branco-primario) !important;
  }
  
  span.flex-resposta {
    cursor: pointer;
    z-index: 1;
    transition: all 0.15s linear;
  /*  border-radius: 2px 2px 10px 10px; */
    background-color:  #091F2C;
    position: relative;
    text-indent: 0.8rem;
    text-align: left;
  }

  span.flex-perguntas svg,div.flex-perguntas-faq svg {
    fill: #75B6E7;
    margin-right: 0.7rem;
  }

  span.flex-perguntas:hover,span.flex-perguntas:hover svg,div.flex-perguntas-faq:hover,div.flex-perguntas-faq:hover svg {
    color:#4CAF50;
    fill:#4CAF50;
  }

  div.flex-perguntas-faq{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    z-index: 1;
    transition: all 0.15s linear;
    margin: 1.5rem 0rem;
    position: relative;
    /* text-indent: 14px; */
    text-align: justify;
    padding: 0.4rem;
    color: #75B6E7;
    font-size: 17px;
  }


  span.flex-resposta-faq{
    margin: 1rem 0.5rem;  
    text-align: start;
    font-size: 19px;
    color: white;

  }


  ul{
    list-style-type: none;
  }
  
  li.flex-categorias::before { 
    content: attr(title);
    display: inline-block;
    color: white;
    background-color: #091F2C;
    text-indent: 1rem;
    width: 100%;
    padding-top: 0.8rem;
    margin: 0.8rem 0;
    font-size: 23px;
    font-weight: bold;
    font-family: var(--fonte_1);
  }
  
  li.flex-categorias ul li{
    height: 2.2rem; 
    transition: height 0.1s linear;
  
  }

  #lista-flex-perguntas-faq {
    height: auto;
  }

  ul.flex-container li.flex-categorias ul li.selected {
    height: auto ;
  }

  a.ler-mais {
    position: absolute;
    top: 0;
    opacity: 0;
    right: 0;
    line-height: inherit;
    height: 136px;
    margin: 0px auto 20px;
    overflow: hidden;
    transition: height 0.1s linear;
    border-radius: 12px;
    color: var(--branco-primario);
    cursor: pointer;
    background-color: #1E1655;
  }
  
  span.flex-resposta:hover a.ler-mais{
    opacity: 1;
    transition: all 0.25s linear;
    border-radius: 0 0 8px 0px;
    padding-right: 8px; 
  }

  img.logo_up {
    cursor: pointer;
}

span.detalhe-resposta {
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 18px;
}

span.detalhe-resposta.arquivos {
  display: flex;
}  

select.check-ver {
  font-weight: bold;
  float: right;
  margin-right: 13px;
  height: 34px;
  text-align: center;
  width: 85px;
  border-radius: 20px;
  background-color: #2F3188;
  color: white;
  border-color: #2F3188;
  font-family: var(--fonte_1);
  font-size: 24px;
  letter-spacing: 1px;
}

.retorna-faq {
    text-indent: 18px;
    width: 80%;
}

.retorna-faq a {
  float: unset;
  font-size: 28px;
  font-family: var(--fonte_1);
  letter-spacing: 1px;
}

a.versao {
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

span.detalhe-pergunta {
  font-size: 24px; 
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--fonte_1);
}

li.lista-pergunta {
  margin-bottom: 28px;
  text-indent: 8px;
  cursor: pointer;
  font-size: 0.68vw;
}

span.relacionados {
  margin-bottom: 30px;
  display: block;
  font-size: 0.7vw;
  font-weight: bold;
  padding-top: 0px;
  width: calc(100% - 15px);
  letter-spacing: 2px;
}

.header-doc {
  min-width: 1024px;
  background-color: white;
  /*background-image: linear-gradient(gray,white);*/
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
  text-align: center;
  border-bottom: solid #FFFFFF 14px;
  line-height: 390%;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 20px 0 0;
}

img.retorna-princ {
  width: 200px; 
  height: auto;
  object-fit: contain;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;
  order: 1;
  flex-basis: 230px;
}


a.go-doc-public {
  cursor: pointer;
  font-size: 1.1vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  line-height: 4rem;
  font-family: var(--fonte_1);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: clamp(14px, 14vw, 20px); /*(mínimo, ideal, máximo)*/
}
  

a.go-doc-private {
  cursor: pointer;   
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  line-height: 4rem;
  font-family: var(--fonte_1);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: clamp(14px, 14vw, 20px); /*(mínimo, ideal, máximo)*/
}

a.go-doc-cadastro {
  cursor: pointer;
  display: block;
  width: 10%;
  height: 50%;
  float: right;
  background-color: #7e1a1a;
  border-radius: 25px;
  line-height: 65px;
  font-family: var(--fonte_1);
  margin-right: 4%;
  margin-top: 2%;
  color: var(--branco-primario);
  box-shadow: 0 5px #999;
}

.desfocar{
  filter: blur(2.5px);
  pointer-events: none;
}

.spinner {
  border: 8px solid rgb(33, 26, 72);
  border-left-color: #37a34a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  display: none;
}

.ativado{
  animation: spin 1.2s linear infinite;
  display: initial !important;
  z-index: 1;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}

.footer-doc {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-family: var(--fonte_1);
  background-color: white;
  border-top: solid #FFFFFF 14px;
  /*background-image: linear-gradient(white,gray);*/
}

/*usar quando conter conteudo para por , caso nÃ£o usar o debaixo para evitar espaÃ§os em branco

.apresentation {
  height: 100%;
  margin-top: 58px;
}*/
.apresentation {
  margin-top: 4rem;
}
img.bgmenur {
  width: 100%;
}

/*
ul#perg-rel {
  margin-bottom: 50px;
} */

.resp-sim, .resp-nao{
  cursor: pointer;
  width: 30%;
}

span.detalhe-pesquisa {
  display: block;
  margin-top: 20px;
  font-size: 0.8vw;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 2px;

} 



.go-logout {
  display: flex;
  flex-direction: column;
  background-color: #091F2C;
  color: var(--branco-primario);
  box-sizing: border-box;
  padding: 0.7% 1%;
  
  
  flex-shrink: 3;           /* permite encolher */
  flex-grow: 0;             /* evita crescer demais se houver espaÃ§o */

  max-width: 30%;          /* garantindo que nÃ£o ultrapasse o pai */
  
  font-size: 0.7vw;
  text-align: center;
  font-family: var(--fonte_1);
  margin: 15% 2% 0% 2%;
  box-shadow: 1px 1px 10px 1px #000;

}


.go-logout svg {
  fill:var(--branco-primario);
}


.logout-botao {
  color: white;
  cursor: pointer;
  flex-shrink: 3;           /* permite encolher */
  flex-grow: 0;             /* evita crescer demais se houver espaÃ§o */
  flex-wrap: nowrap;
  font-size: 0.7vw;
  border-radius: 2px;
  width:  75%;
  height: 3rem;
  background-color: #091F2C;
  font-family: var(--fonte_1);
  font-weight: 400;
  outline: none;
  border: none;

}


.header-botao-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  order: 2;
  margin-top: 0;
  margin-left: 200px;
}

.header-util-section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  flex-basis: 230px;
  order: 3;
  margin-top: 0;
}

span.go-login {
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--fonte_1);
  margin-right: 5px;
  margin-left: 6px;
  z-index: 4;
}

.go-login svg{
  margin-bottom: -20px;
  margin-top: 20px;  
  width: 1.4rem;
  height: 1.4rem;
}

.go-idioma {
  display: flex;
  width: fit-content;
  max-width: 6rem;
  flex-shrink: 3;
  height: 1.7rem;
  align-items: center;
  margin-right: 0.5rem;
  color: black;
  box-shadow: 0 0 3px 0 #777 inset;
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  gap: 0.5rem;
}


.go-idioma select {
  font-size: 0.7vw;
  background: transparent;
  border: none;
  color: black;
  outline: none;
  cursor: pointer;
  padding-left: 0.2rem
}

/* Optional: Adiciona seta customizada via background */
.go-idioma select {
  background-image: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 24 24' width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 12px;
}

.go-idioma select option {
  color: black;           /* texto preto no menu suspenso */
  background: white;      /* fundo branco ao abrir */
}


.go-logout-desconectar {
  display:flex;
  flex-direction: row;
  flex-shrink: 3;
  align-items: center;
  justify-content: center;
  top: 20em;
}


  
.login-conteudo{
  font-family: var(--fonte_2);
  display: flex;
  align-items: center;
  background-color: #F1F1F1;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;

}

.login-conteudo-box{
  width: 480px;
  position: absolute;
  left: calc(50% - 260px);
  top: calc(50% - 190px);
  text-align: center;
  background-color: var(--login-box);
  padding: 20px; 
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px #000;
}

.login-conteudo-box-cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

a.login-conteudo-box-sair {
  cursor: pointer;  
  display: flex;
  align-items: center;
  background-color: var(--login-sair);
  color: var(--login-faixa);
  padding: 3px ;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px #000;
  text-align: center;
  justify-content: center;
  width: 30px;
  height: 30px;

}

.login-conteudo-box-titulo {
  display:flex;
  margin: -20px -20px 60px -20px; 
  height: 50px;
  width: 100%;
  padding: 20px;
  border-radius: 2px 2px 0 0;
  background-color: var(--login-faixa);
  background-image: url(dwu.updoc.download?arquivo=conhecimento_login.png);
  background-position: center;
  background-repeat: no-repeat;
}

.login-formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.login-input-container {
/*  position: relative;
  display: flex;
  align-items: center;
  width: 100%; */
  
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0px 30px;
  margin-left: 45px;
  border-radius: 4px;
  max-width: 300px;
  background-color: #fff;
   
}

.login-input-container svg {
 /*  position: absolute;
  left: 15px;
  top: 50%;
  height: 15px;
  width: 20px;
  fill: #999;
  pointer-events: none; */
  
  height: 1.4rem;
  width: 1.4rem;
  flex-shrink: 0; 
}

.login-input-container svg:first-child, .login-input-container  {
  margin-right: 8px; /* Ã­cone chave Ã  esquerda */
  cursor: pointer;
  fill: var(--login-icone);

}

svg.reveal {
  margin-left: 50px; 
  cursor: pointer;
  fill: var(--login-icone);
}

.login-input-container input {
  /*width: 100%;
  padding-left: 40px; 
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;*/
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  padding-right: 36px;
  font-size: 18px;
  background: transparent; 
  
}

.login-session {
  
  width: calc(100% - 70px);
  display: inline-block;
  height: 40px;
  max-width: calc(100% - 70px);
  padding: 0px 23px 0px 34px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #EEE;
  border-radius: 3px;
  font-family: var(--fonte_2);
  color: var(--cad-fundo-titulo);
  box-shadow: none;
  transition: all 0.2s linear;
  
}

.login-botao {
  color: var(--login-fundo);
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  border-radius: 2px;
  margin: 30px 15px 20px; 
  width:   calc(100% - 30px);
  height: 60px;
  background-color: var(--login-faixa);
  font-family: var(--fonte-primaria);
  outline: none;
  border: none;
  
}


@keyframes shake { 
  0% { 
      margin: 0 0 0 10px; 
  } 25% { 
    margin: 0 10px 0 0; 
  } 50% { 
    margin: 0 0 0 10px; 
  } 75%  { 
    margin: 0 10px 0 0; 
  } 100% { 
    margin: 0; 
  } 
}

@-webkit-keyframes shake { 
  0% { 
    margin: 0 0 0 10px; 
  } 25% { 
    margin: 0 10px 0 0; 
  } 50% { 
    margin: 0 0 0 10px; 
  } 75% { 
    margin: 0 10px 0 0; 
  } 100% { 
    margin: 0; 
  } 
}

div.shake {
  animation: shake 0.3s normal linear 0s; 
  -webkit-animation: shake 0.3s normal ease 0s; 
}


a.go-faq {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
  line-height: 4rem;
  font-family: var(--fonte_1);
  margin-top: 10px;
  font-size: clamp(5px, 5vw, 20px); /*(mínimo, ideal, máximo)*/
}

.escolhido {
  /*box-shadow: 0 5px #fff !important;
  transform: translateY(4px);*/
  font-weight: bold;
}

h1.titulo-faq {
  color: var(--branco-primario);
  font-size: 2.5vw;
  font-family: var(--fonte_1);
  font-weight: bold;
  float: left;
  letter-spacing: 0.4375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  line-height: 2.6875rem;
  position: relative;
  top: 8.75rem;
  z-index: 1;
}

.main-conteudo {
  display: -webkit-flex;
}

.menu-lateral-conteudo {
  flex-basis: 20%;
  background:#cbc3c321;
  padding-top: 8%;
  /* padding-right: 1%; */ 
  padding-bottom: 1px;  
  max-width: 380px;
}


.fundo-conteudo{
  flex-basis: 60%;
  background:#cbc3c321;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fundo-conteudo.arquivos{
  flex-basis: 80%;
}

.bloco-direito-conteudo{
  flex-basis: 20%;
  background:#cbc3c321;
}

.detalhe-conteudo {
  background: #ffffffcc;
  padding-top: 100px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1px;
}
.detalhe-conteudo2 {
  /* margin-left: 20%;
  margin-right: 20%;
  */ 
  background: #ffffffcc;
  padding-top: 30%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1px;
}

.disable{
  pointer-events: none;
  filter:grayscale(1);
  opacity: 0.8;
}

.voto {
  padding-bottom: 30px;
}

li.lista-pergunta:hover, a.go-faq:hover, a.go-doc-public:hover, a.go-doc-private:hover {
  font-weight: bold;
}



a.retorna-princ {
  cursor: pointer;
  display: block;
}

span.cversion {
  font-size: 24px;
  font-style: italic;
}



img.bgdoc {
  width: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  height: 20rem;
  top: 0px;
}


/* Container que envolve input + lupa */
.mensagem {
    position: relative;
    display: inline-block;
    width: 250px;
    margin: 0.2rem 0.5rem 0rem;
    left: 80px
}

svg#lupa {
    fill: #1E1655;
    position: absolute;
    left: 7%;
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: pointer;
    pointer-events: auto;
}


.mensagem {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  position: relative;
  z-index: 0;
  opacity: 0.9;
}



li.flex-categorias {
    min-width: 400px; width: 29.8%;
   /* max-height: max-content; */
    margin: 1%;
    background-color: #091F2C;
    padding: 0% 1% 4% 0.5%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    height: auto;
    /* text-align: center; */
}

img.mais, img.menos {
  border-radius: 25px;
  margin-top: 15px;
  height: 32px;
  float: left;
  width: 32px;
}

img.bgpergunta {
  position: fixed;
  z-index: -1;
  top: 235px;
}

img.seta {
    float: left;
    width: 5%;
    height: 1%;
}

.cxmsg {
  background-color: var(--verde-primario);
  color: #ddd6ff;
  padding: 18px;
  height: 40px;
  right: 0;
  bottom: 0;
  position: fixed;
  margin:  10px;
  font-size: 18px;
  letter-spacing: 1px;
  transition: opacity .3s linear, right .1s linear, margin .2s linear;
  opacity: 0;
  border-radius: 10px;
  max-width: 340px;
  min-width: 240px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 2px 0 #333;
  transform: rotatex(20deg);
}

.mostrar {
  opacity: 1;
  cursor: pointer;
}
span.label-tipUser{
  display: flex; 
  margin-top: 22px; 
  /* margin-right: -7px; */
  margin-left: 34px; 
  height: 34px; 
  width: 204px; 
  font-size: 14px; 
  align-items: center;
}
#change-tipUser{
  border-radius: 5px; 
  height: 32px; 
  margin-left: 6px;
}

/* MEDIA QUERIES =============================================================================================================== */


@media (max-device-width: 500px){
  div.bgmenur {
    height: 300px;
    max-width: 501px;
    margin-top: 8px;
    background-image: url("dwu.fcl.download?arquivo=imgmobile500px.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center;
  }
  .apresentation {
    height: 0px;
  }
  #sociais {
    width: 14px;
    height: 14px;
    margin: 0px 2px 0px 2px;
    cursor: pointer;
  }
  .fundo-busca {
    font-size: 17px;
    height: 235px;
  }
  ul.flex-container, .main{
    margin-top: 25px;
    padding-top: 1px;
  }
  .main {
    min-height: 500px;
  }
  


  span.flex-perguntas svg,div.flex-perguntas-faq svg {
    fill: #75B6E7;
    margin-right: 0.7rem;
  }

  span.flex-perguntas:hover,span.flex-perguntas:hover svg,div.flex-perguntas-faq:hover,div.flex-perguntas-faq:hover svg {
    color:#4CAF50;
    fill:#4CAF50;
  }

  
  
h1.titulo-faq {
  color: var(--branco-primario);
  font-size: 2.5vw;
  font-family: var(--fonte_1);
  font-weight: bold;
  float: left;
  letter-spacing: 0.4375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  line-height: 2.6875rem;
  position: relative;
  top: 8.75rem;
  z-index: 1;
}

  .logot {
      margin: 15% 5% 0% 2%;
  }

  .img.retorna-princ {
    margin-right: 4.5%;
    margin-left: 1.5%;
  }

  span.label-tipUser{
    display: flex;
    margin-top: 19px;
    margin-right: -7px;
    margin-left: 14px;
    height: 34px;
    width: 90px;
    font-size: 9px;
    align-items: center;
  }

  #change-tipUser{
    border-radius: 5px;
    height: 23px;
    margin-left: 3px;
    width: 50px;
    font-size: 8px;
  }
  
  img#lupa {
    margin-right: 16px;
    margin-left: 3px;
    margin-top: 20px;
    float: left;
    height: 26px;
  }
  img.bgdoc {
    width: 100%;
    z-index: 0;
    position: absolute;
    left: 0;
    height: 285px;
    top: 0px;
  }
  img.mais, img.menos {
    border-radius: 20px;
    margin-top: 5px;
    height: 20px;
    float: left;
    width: 20px;
  }

  a.ler-mais {
    position: absolute;
    top: 0;
    opacity: 1;
    right: 0;
    line-height: inherit;
    height: 70px;
    margin: 0px auto 10px;
    overflow: hidden;
    transition: height 0.1s linear;
    border-radius: 6px;
    color: var(--branco-primario);
    cursor: pointer;
    background-color: #1E1655;
  }
  ul.flex-container li.flex-categorias ul li.selected {
     height: auto;
  }
  

  img.logo_up {
    cursor: pointer;
  }

  span.detalhe-resposta {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 10px;
  }

  select.check-ver {
  font-weight: bold;
  float: right;
  margin-right: 6px;
  height: 17px;
  text-align: center;
  width: 42px;
  border-radius: 20px;
  background-color: #2F3188;
  color: white;
  border-color: #2F3188;
  font-family: var(--fonte_1);
  font-size: 12px;
  letter-spacing: 1px;
  }

  .retorna-faq {
    text-indent: 7px;
    width: 35%;
  }

  .retorna-faq a {
  float: unset;
  font-size: 12px;
  font-family: var(--fonte_1);
  letter-spacing: 1px;
  }

  a.versao {
  font-weight: bold;
  float: right;
  margin-right: 5px;
  }

  span.detalhe-pergunta {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--fonte_1);
  } 

  li.lista-pergunta {
  margin-bottom: 14px;
  text-indent: 3px;
  cursor: pointer;
  font-size: 7px;
  }

  span.relacionados {
  margin-bottom: 15px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-top: 0px;
  width: calc(100% - 7px);
  letter-spacing: 1px;
  }
  img.seta {
  float: left;
  width: 18px;
  height: 18px;
  }
  .detalhe-conteudo {
  margin-left: 10%;
  margin-right: 10%;
  background: #ffffffcc;
  padding-top: 22%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1px;
  }
  .detalhe-conteudo2 {
  margin-left: 10%;
  margin-right: 10%;
  background: #ffffffcc;
  padding-top: 1px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1px;
  }

  img.retorna-princ {
  height: 45%;
  width: 9%;
  cursor: pointer;
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 9.5%;
  }
  a.go-faq {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  height: 55%;
  font-size: 1.1vw;
  line-height: 4rem;
  font-family: var(--fonte_1);
  margin-right: 2%;
  margin-top: 3%;

  }

  a.go-doc-public {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
    line-height: 38px;
    font-family: var(--fonte_1);
    margin-right: 2%;
    margin-top: 3%;
  }
  



  span.detalhe-pesquisa {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
 /* .resp-sim, .resp-nao {
    cursor: pointer;
    width: 90px;
  }*/

  .desfocar{
    filter: blur(2.5px);
    pointer-events: none;
  }

  .spinner {
    border: 8px solid rgb(33, 26, 72);
    border-left-color: #37a34a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    display: none;
  }

  .ativado{
    animation: spin 1.2s linear infinite;
    display: initial !important;
    z-index: 1;
  }
}



@media (max-device-width: 570px){

  .logout {
      margin: 29% 5% 0% 2%;
  }

  img.retorna-princ {
    margin-right: 0%;
    margin-left: 0.2%;
  }

}





/********************* PARA MOBILE COM RESOLUÃ‡ÃƒO MAIOR ***************************************/


@media (min-device-width:572px) and (max-device-width: 1000px){
  
  .logout {
      margin: 29% 5% 0% 2%;
  }

  img.retorna-princ {
    margin-right: 4.5%;
    margin-left: 1.5%;
  }


  .logout svg, .go-idioma svg, .go-login svg {
    height: 0.7rem;
  }




  
}



@media (min-device-width:501px) and (max-device-width: 850px){
  div.bgmenur {
    height: 400px;
    max-width: 850px;
    margin-top: 8px;
    background-image: url("dwu.fcl.download?arquivo=bgmenur_mobile850px2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center;
  }
    /*
    usar quando conter conteudo para por , caso nÃ£o usar o debaixo para evitar espaÃ§os em branco

    .apresentation {
      height: 100%;
      margin-top: 58px;
    }*/
  .apresentation {
    height: 0px;
  }
  #sociais {
    width: 14px;
    height: 14px;
    margin: 0px 2px 0px 2px;
    cursor: pointer;
  }
  .fundo-busca {
    font-size: 17px;
    height: 235px;
  }
  ul.flex-container, .main{
    margin-top: 25px;
    padding-top: 1px;
  }
  .main {
    min-height: 500px;
  }
  span.flex-perguntas svg,div.flex-perguntas-faq svg {
    fill: #75B6E7;
    margin-right: 0.7rem;
  }

  span.flex-perguntas:hover,span.flex-perguntas:hover svg,div.flex-perguntas-faq:hover,div.flex-perguntas-faq:hover svg {
    color:#4CAF50;
    fill:#4CAF50;
  }
h1.titulo-faq {
  color: var(--branco-primario);
  font-size: 2.5vw;
  font-family: var(--fonte_1);
  font-weight: bold;
  float: left;
  letter-spacing: 0.4375rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  line-height: 2.6875rem;
  position: relative;
  top: 8.75rem;
  z-index: 1;
}


  span.label-tipUser{
    display: flex;
    margin-top: 19px;
    margin-right: -7px;
    margin-left: 14px;
    height: 34px;
    width: 90px;
    font-size: 9px;
    align-items: center;
  }

  #change-tipUser{
    border-radius: 5px;
    height: 23px;
    margin-left: 3px;
    width: 50px;
    font-size: 8px;
  }

  img#lupa {
    margin-right: 16px;
    margin-left: 3px;
    margin-top: 20px;
    float: left;
    height: 26px;
  }
  img.bgdoc {
    width: 100%;
    z-index: 0;
    position: absolute;
    left: 0;
    height: 285px;
    top: 0px;
  }
  img.mais, img.menos {
    border-radius: 20px;
    margin-top: 5px;
    height: 20px;
    float: left;
    width: 20px;
  }
  span.flex-resposta {
    z-index: 1;
    transition: all 0.15s linear;
    border-radius: 2px 2px 5px 5px;
    background-color: #696aa1;
    position: relative;
    text-indent: 7px;
    text-align: left;
    width: 349px;
    margin-left: 6px;
  }



  a.ler-mais {
    position: absolute;
    top: 0;
    opacity: 1;
    right: 0;
    line-height: inherit;
    height: 70px;
    margin: 0px auto 10px;
    overflow: hidden;
    transition: height 0.1s linear;
    border-radius: 6px;
    color: var(--branco-primario);
    cursor: pointer;
    background-color: #1E1655;
  }
  ul.flex-container li.flex-categorias ul li.selected {
     height: auto;
  }
  

  img.logo_up {
    cursor: pointer;
  }

  span.detalhe-resposta {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 10px;
  }

  select.check-ver {
    font-weight: bold;
    float: right;
    margin-right: 6px;
    height: 17px;
    text-align: center;
    width: 42px;
    border-radius: 20px;
    background-color: #2F3188;
    color: white;
    border-color: #2F3188;
    font-family: var(--fonte_1);
    font-size: 12px;
    letter-spacing: 1px;
  }

  .retorna-faq {
      text-indent: 7px;
      width: 35%;
  }

  .retorna-faq a {
    float: unset;
    font-size: 12px;
    font-family: var(--fonte_1);
    letter-spacing: 1px;
  }

  a.versao {
    font-weight: bold;
    float: right;
    margin-right: 5px;
  }

  span.detalhe-pergunta {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--fonte_1);
  } 

  li.lista-pergunta {
    margin-bottom: 14px;
    text-indent: 3px;
    cursor: pointer;
    font-size: 7px;
  }

  span.relacionados {
    margin-bottom: 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
    width: calc(100% - 7px);
    letter-spacing: 1px;
  }
  img.seta {
    float: left;
    width: 18px;
    height: 18px;
  }
  .detalhe-conteudo {
    margin-left: 10%;
    margin-right: 10%;
    background: #ffffffcc;
    padding-top: 22%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1px;
  }
  .detalhe-conteudo2 {
    margin-left: 10%;
    margin-right: 10%;
    background: #ffffffcc;
    padding-top: 1px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1px;
  }  

    span.detalhe-pesquisa {
      display: block;
      margin-top: 20px;
      font-size: 12px;
      margin-bottom: 12px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  /*  .resp-sim, .resp-nao {
      cursor: pointer;
      width: 90px;
    } */

  .desfocar{
    filter: blur(2.5px);
    pointer-events: none;
  }

  .spinner {
    border: 8px solid rgb(33, 26, 72);
    border-left-color: #37a34a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    display: none;
  }

  .ativado{
    animation: spin 1.2s linear infinite;
    display: initial !important;
    z-index: 1;
  }

}

span.menu-lateral-item {
  display: block;
  z-index: 2;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  text-align: left;
  text-overflow: ellipsis;
  transition: all 0.2s linear 0s;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 22px);
  height: 25px;
  line-height: 25px;
  text-indent: 10px;
  font-size: 13px;
  background-color: #1E1655;
  color: var(--branco-primario);
  cursor: pointer;
}

span.menu-lateral-item.selecionado {
  opacity: 0.8;
}

img.menu-lateral-aberto, img.menu-lateral-fechado {
  border-radius: 9px;
  margin-top: 4px;
  height: 17px;
  float: left;
  width: 18px;
}


.menu-lateral-conteudo, .menu-lateral-conteudo ul, .menu-lateral-conteudo li {
  position: relative;
}

.menu-lateral-conteudo ul {
  list-style: none;
}

.menu-lateral-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 650px;  
}

ul.menu-lateral-fechado, div.invisivel , span.invisivel {
  display: none;
} 

span.resposta_conteudo * {
  font-size: 18px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  white-space: normal;
  /* background-color: rgba(255, 255, 255, 0.8); */ 
  text-align: justify;
}

span.resposta_conteudo p {
  margin-top: 10px;
}

ul.MARCADOR1 li, ul.MARCADOR2 li, ul.MARCADOR3 li, ul.MARCADOR4 li {
  margin-top: 15px;
} 

ul.MARCADOR1 li span:first-child, ul.MARCADOR2 li span:first-child, ul.MARCADOR3 li span:first-child, ul.MARCADOR4 li span:first-child {
  font-weight: bold;
} 

ul.MARCADOR1{
  list-style-type: disc;
  margin-left: 40px;
}

ul.MARCADOR2{
  list-style-type: circle;
  margin-left: 40px;
}

ul.MARCADOR3{
  list-style-type: square;
  margin-left: 40px;
}

ul.MARCADOR4{
  list-style-type: square;
  margin-left: 40px;
}

div.conteudo-arquivos-lista {
  display: block;
  width: 300px;  
  min-width: 300px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}  

a.link-conteudo-arquivo {
  display: inline-block;
  height: 20px;
  width: calc(100% - 25px);
  margin-bottom: 12px;  
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: all 0.2s ease;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
}

a.link-conteudo-arquivo:hover {
  background-color: #e0e0e0;
  border-color: #bbb;
  color: #000;
}

.conteudo-arquivo-visualiza {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pdf-loader {
  display: flex;
  width: 100%;
  height: 600px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background: #f3f3f3; 
}

#pdf-loader div.spinner {
  display: block !important;
  animation: spin 1.2s linear infinite;
  position: initial !important;
}


@keyframes spin-pdf {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


ul#feed-fixo { 
  z-index: 800;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: hidden; 
  padding: 10px 0 10px 0;
  max-height: calc(100% - 100px);
}

ul#feed-fixo li { 
  cursor: pointer; 
  background-color: #150e3b;
  color: #DDD6FF; 
  padding: 18px; 
  margin: 0 10px; 
  font-size: 17px; 
  letter-spacing: 1px;
  transition: opacity 0.2s linear, right 0.1s linear, margin 0.2s linear; 
  opacity: 0;
  border-radius: 10px; 
  max-width: 340px;
  min-width: 240px;
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  flex-wrap: wrap;
  box-shadow: 0 0 2px 0px #333;
  transform: rotatex(20deg);
}

 ul#feed-fixo:hover li {
  margin-bottom: 0;
}

ul#feed-fixo li.ok { 
  background: rgba(80, 180, 80, 0.8); 
  color: #000; 
}

ul#feed-fixo li.erro { 
  background: rgb(105, 1, 1); 
  /* opacity: 1;   
  transition: opacity 0.2s linear, right 0.1s linear, margin 0.2s linear;    */ 
}

ul#feed-fixo li.show { 
  opacity: 1; 
}

ul#feed-fixo li.clicked { 
  right: -390px;
}

ul#feed-fixo li span:first-child { 
  flex-basis: calc(100% - 80px);
  margin-right: 10px;
}

ul#feed-fixo li a { 
  color: var(--button-background);
  font-weight: bold;
  font-size: 17px;
  width: 70px;
}

ul#feed-fixo li.erro a { 
  color: rgb(233, 80, 80); 
}

ul#feed-fixo li span:nth-child(3) { 
  font-size: 10px;
  height: 10px;
  color: var(--button-background);
  margin-bottom: -12px;
}

ul#feed-fixo li span:nth-child(4) { 
  max-height: 0;
  width: 100%;
  color: var(--cinza-claro-primario);
  font-size: 12px;
  overflow: hidden;
  transition: all 0.1s linear;
}

ul#feed-fixo li span.show {
  max-height: 30px;
  border: 1px solid var(--button-background);
  padding: 4px;
  margin-top: 16px;
  margin-bottom: -6px;
  overflow: auto;
}

.main.cadastro {
  height: calc(100% - 40px);
  margin-top: 5px;
}

.cadastro-main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15;
  height: 100%;
}

.cadastro-menu-esquerdo {
  display: block;
  width: 500px;
  min-width: 400px;
  height: 100%;
  overflow-x: auto;
}

.cadastro-lista-topico {
  height: 40%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 5px;
}

.cadastro-lista-topico table {
  display: block;
  width:100%; 
  height: calc(100% - 30px);
  overflow-y: auto; 
  overflow-x: hidden;
  border-collapse: collapse;  
}  

.cadastro-lista-topico table > thead {
  position: sticky;
  top: 0;
}  

.cadastro-lista-titulo, .cadastro-conteudo-titulo { 
  border-radius: 8px;
  background-color: var(--cad-fundo-titulo);
  color: white;
  padding: 8px;
  text-align: left;
  margin-bottom: 5px;
}  

.cadastro-lista-topico th {
  background-color: var(--cad-cabecalho);
  color: white;
  padding: 8px;
  text-align: left; 
}

.cadastro-lista-topico td {
  border: 1px solid #ddd;
  padding: 8px;
}  

.lista-topico-item td:has(span) {
  cursor:pointer;
}  

.lista-topico-item.selecionado {
  background-color: #c7c7fd;
}  


.cadastro-conteudo-altera {
  display: block;
  height: 60%x;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
}

.cadastro-conteudo {
  display: block;
  position: relative;
  width: calc(100% - 550px);
    height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
}

.cadastro-conteudo-detalhe {
  display: block;
  width: 100%;
  min-width: 400px;
  height: 100%;
  overflow-x: auto;
}

.cadastro-conteudo-item {
  display: flex;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;

}

.cadastro-conteudo-item.selecionado {
  display: flex;
  border-style: dashed;
  border-color:#7d95dd;  
  border-width: 2px;
}

.cadastro-conteudo-botoes {
  display: flex ;
  justify-content: space-between;
  gap: 16px;
}
.cadastro-conteudo-botao {
  flex: auto;
  background-color: var(--cad-botao);
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-align: center;
  margin: 4px 0;
  transition: background-color .1s linear;
  cursor: pointer;
}

.cadcon-conteudo {
  display: flex;
  width: 100%;
}

.cadcon-conteudo hr{
  width: 100%;
  height: 0px;
}

.cadcon-titulo {
  display: flex;
  width: auto;
  height: auto;
  margin-right: 5px;
  padding: 5px;
}

.cadcon-titulo div {
  width: max-content;
}

.cadcon-conteudo-botao {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  align-content: center;
  justify-content: center;
  background-color: var(--cad-botao-move);
  color: white;
  border-radius: 8px; /* Bordas arredondadas */
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* border: 2px solid #817f95;*/ 
  user-select: none;
  border: 2px solid transparent;
  margin-bottom: 2px;
}

.cadcon-conteudo-botao.inserir {
  font-size: 25px;
  text-align: center;
}

.cadcon-conteudo-botao.excluir {
  font-size: 22px;
  text-align: center;
}

.cadcon-conteudo-botao svg {
  width: 20px;
  height: 20px;
  fill: white;
  margin-left: 2px;
}

.cadcon-conteudo-botao:hover {
  border-color: #1765cc;
}

.cadcon-conteudo-botao.selecionado {
  border: 2px solid #0d47a1;
  box-shadow: 0 0 0 2px #bbdefb; /* Efeito de foco */
  transform: scale(0.98);
}


div.MARCADOR1 li, div.MARCADOR2 li, div.MARCADOR3 li, div.MARCADOR4 li{
  font-weight: bold;
} 

div.MARCADOR1 li { list-style-type: disc;   margin-left: 40px;}
div.MARCADOR2 li { list-style-type: circle; margin-left: 80px;}
div.MARCADOR3 li { list-style-type: square; margin-left: 120px;}
div.MARCADOR4 li { list-style-type: square; margin-left: 160px;}

.cadcon-cadastro {
  max-width: 500px;
}

.cadcon-cadastro-linha {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.cadcon-cadastro-linha.ocultar {
  display: none !important;
}  

.cadcon-cadastro-linha label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.voto-linha {
  width: 100%;
  background-color: grey;
  height: 0.1rem;
  margin-top: 1.8rem;
}

.cadcon-cadastro-linha input[type="number"], .cadcon-cadastro-linha select {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
}

.cadcon-cadastro-linha input[type="checkbox"] {
  flex: none;
  width: auto;
}

.cadcon-cadastro-linha select[multiple] {
  height: 130px;
}

.cadcon-cadastro-linha select[multiple] option {
  cursor: pointer;
}

select[multiple] option:hover {
  background-color: #e0e0e0;
}

select[multiple] option:checked {
  background-color: #007bff;
  color: white;
}

#escolherArquivoButton {
  width: 250px;
  padding-left: 2px;
}  

#btnUploadArquivos {
  width: 70px;
  text-align: center;
}  

.cadcon-texto {
  position: relative;
  /* top: -40px; */ 
  width: 100%;
  white-space: pre-wrap;  
  padding: 5px;
  /* height: calc(100% - 10px); */ 
  font-family: 'Arial';
  font-size: 14px;
  resize: vertical;
}

/* Toolbar for text editing */
.cadcon-texto-toolbar {
  display: flex;
  width: fit-content;  
  height: 30px;
  /* top: -45px; */ 
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: 1px solid #ccc;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.cadcon-texto-toolbar.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  position: relative;  
}

.cadcon-texto-toolbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #555;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 0 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  min-width: 60px;
}

.cadcon-texto-toolbar-btn.tipo1 {
  background-color: #7a7a7a;
  color: white;
}  
.cadcon-texto-toolbar-btn:hover {
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cadcon-texto-toolbar-btn:active {
  background-color: #d0d0d0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
  border-color: #999;
}


/* Styles tela de seleÃ§Ã£o de estilos */
.cadastro-tela-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.cadastro-tela-popup {
  display: none;
  position: fixed;
  background-color: white;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: hidden;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cadastro-tela-popup-header {
  padding: 15px;
  background-color: #1E1655;
  color: white;
  border-bottom: 1px solid #ddd;
}

.cadastro-tela-popup-header h3 {
  margin: 0;
  font-size: 18px;
}

.cadastro-tela-popup-content {
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
}

.cadastro-tela-popup-content select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

.cadastro-tela-popup-footer {
  padding: 15px;
  border-top: 1px solid #ddd;
  text-align: right;
}

.cadastro-tela-btn {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.cadastro-tela-btn.aplicar {
  background-color: #1E1655;
  color: white;
}

.cadastro-tela-btn.cancelar {
  background-color: #f0f0f0;
  color: #333;
}

#estilos-aplicar:hover {
  background-color: #2a2277;
}

#estilos-cancelar:hover {
  background-color: #e0e0e0;
}

/* Estilo para itens em modo de movimento */
.cadastro-conteudo-item.marcado-mover {
  background-color: #f0f8ff;
  border-color: #bbdefb;
  cursor: pointer;
}

.cadastro-conteudo-item.modo-mover:hover {
  border-color: #bbdefb;
  cursor: pointer;
}


.cadcon-ordem {
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.cadcon-ordem:hover {
  background-color: #e0e0e0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.cadcon-ordem svg {
  width: 17px;
  height: 17px;
  fill: #555;
  transition: fill 0.2s ease;
}

.cadcon-ordem:hover svg {
  fill: #333;
}

.cadcon-ordem.marcado-mover {
  background-color: #d0d0d0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
  border-color: #999;
}

.cadcon-ordem.selecionado svg {
  fill: #1E1655;
}

.cadcon-texto-view {
  width: calc(100% - 10px);
  white-space: pre-wrap;  
  padding: 5px;
  /* height: calc(100% - 10px); */ 
  font-family: 'Arial';
  font-size: 14px;
  border: 1px solid transparent;
  cursor: text;
  background-color: #fafafa;
  /* min-height: 70px; */ 
}

.cadcon-texto-view:hover {
  border: 1px dashed #ccc;
  background-color: #f5f5f5;
}